:root{
  --custom-primary: #0464ca;
}

/* General styles */

.btn{
  border-radius: 0!important;
}

.btn-primary {
  color: #fff;
  background-color: var(--custom-primary)!important;
  border-color: var(--custom-primary)!important;
}

.btn-group-lg>.btn, .btn-lg {
  border-radius: 0!important;
}

.card {
  border-radius: 0!important;
}

.bg-gray-light {
  background-color: #e8e8e8!important;
}

.form-control{
  border-radius: 0!important;
}

.auth .login-half-bg {
  background: url("/auth/login-bg.jpg");
  background-image: -webkit-image-set(url('/auth/login-bg.webp')1x);
  background-size: cover;
}

.auth .auth-form-light {
  background: #ffffff;
}

.auth.auth-img-bg {
  padding: 0;
}

.info-container{
  padding-top: 3.5rem!important
}

.bg-dark {
  background-color: #183149!important;
}